@use '@carbon/react' as *;
@use '@carbon/colors' as *;
@use '@carbon/react/scss/colors';
@use '@carbon/layout';

.demo-page {
    padding: $spacing-09;
}

.demo-column {
    padding: $spacing-03;
    box-sizing: border-box;
}

.custom-text-input {
    width: 100%;
}

.dropdown-component {
    width: 100%;
}

.data-table-component {
    margin-top: $spacing-05;
}